@import '../../responsive/mixin';

header, main, footer {
    position: relative;
    padding-left: 300px;

    @include respond(tab-port) {
        padding-left: 0;
    }
}

.offset-m1 {
    margin: 0 8%;

    @include respond(tab-port) {
        margin: 0;
    }
}